.pytest_cache/
__pycache__/
*.py[cod]

.venv/

logs/
outputs/
cache/

log_viking/*.log
log_viking/trash/**
log_viking/results/**
!log_viking/results/.gitkeep
log_viking/slurm/**
!log_viking/slurm/.gitkeep

*.bootstrap.out
*.bootstrap.err
